<head>
<%= stylesheet_link_tag "dashboard-libraries", :media => "all" %>
<%= javascript_include_tag("dashboard-libraries") %>
</head>

<script type="text/javascript">
$( document ).ready(function() {
  MECD = window.MECD || {};
  MECD.Router = new MonthlyExpenseCalculator.Routers.DashboardRouter;
  console.log('he');
  MECD.currentUser = <% if @loggedin_user  %><%= @loggedin_user.to_json.html_safe %><% else %>null<% end %>;
  Backbone.history.start({pushState: true});
});
</script>

<div class="mecd-main">
  <div class="mecd-top-nav-container" id="mecd-top-nav-container-id">
  </div>
  <div class="mecd-full-container" id="mecd-full-container-id">
  </div>
</div>
