<div class="row">
  <div class="col-md-3 left-side-view"></div>
  <div class="col-md-6 main-view"></div>
  <div class="col-md-3 right-side-view"></div>
</div>
<div class="js-add-expense-modal"></div>
