<div class="row msT">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="msB">
      <button class="btn btn-success pull-right span8 js-add-expense">Add a expense</button>
    </div>
    <div class="clearfix"></div>
    <h4>
      <%- title %>
      <span class="pull-right">Total:<span class="js-total-expenses"></span></span>
      <span class="clearfix"></span>
    </h4>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="js-expenses msT"></div>
  </div>
  <div class="col-md-1"></div>
</div>