<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <ul class="list-unstyled">
        <li><a href="#" class="js-recent-expenses-link remove-underline-hover inherit-color"><span class="glyphicon glyphicon-list-alt msR" aria-hidden="true"></span>Recent Expenses</a></li>
        <li><a href="#" class="js-all-expenses-link remove-underline-hover inherit-color"><span class="glyphicon glyphicon-list-alt msR msT" aria-hidden="true"></span>All Expenses</a></li>
      </ul>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="col-md-1"></div>
</div>
