<div class="modal fade" tabindex="-1" role="dialog" id="login-signup-modal">
  <div class="modal-dialog modal-size-350" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center"><% if(showLogin){ %>Log in<% } else { %>Sign up<% } %></h4>
      </div>
      <div class="modal-body">

        <form name="login-form" <% if(!showLogin){ %> class="hidden" <% } %> >
            <input type="text" name="email" id="email-val" class="form-control" placeholder="Email" />
            <input type="password" name="password" id="password-val" class="form-control mdT" placeholder="Password" />
            <button type="submit" class="btn btn-success msB mdT wide-100">Submit</button>
        </form>

        <form name="signup-form" <% if(showLogin){ %> class="hidden" <% } %> >
            <input type="text" name="fullname" id="fname" class="form-control" placeholder="Name" />
            <input type="text" name="email" class="form-control mdT" placeholder="Email" />
            <input type="text" name="password" class="form-control mdT" placeholder="Password" />
            <button type="submit" class="btn btn-success msB mdT wide-100">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <% if(showLogin){ %>
            <div>
                <p class="text-center">New User?, <a href="#" class="js-show-signup">Sign up<a></p>
            </div>
        <% } else { %>
            <div>
                <p class="text-center">Already have an account, <a href="#" class="js-show-login">Log in<a></p>
            </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
