.msT {
  margin-top: 10px;
}

.mdT {
  margin-top: 20px;
}

.msB {
  margin-bottom: 10px;
}

.mdB {
  margin-bottom: 20px;
}

.msL {
  margin-left: 10px;
}

.msR {
  margin-right: 10px;
}

.modal-size-350 {
  width: 350px;
}

.wide-100 {
  width: 100%;
}

.psB {
  padding-bottom: 5px;
}

.psT {
  padding-top: 10px;
}
