.add-expense-modal {
  .modal-size-350 {
    width: 350px;
  }
}

.dashboard-view {
  .dashboard-text {
    font-size: 26px;
    font-weight: 500;
  }
}

.top-nav-view {
  .small-button {
    padding: 5 10 5 10;
  }
}
